.userListItem {
    color: white !important;
    font-size: 24px;
    margin-right: 20px;
    padding: 0 !important;
    font-family: 'Orbitron', sans-serif;
}

.ant-list-item {
    padding: 8px !important;
    border: 1px solid white;
        border-block-end: 1px solid white!important;
}

.ant-list-item-meta{
    align-items: center!important;
}
