@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


:root{
  --text-color:#ffff00
}
body{
  margin: 0;
  padding: 2rem 3%;
  background-color: #111111;
  color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
}
main .ant-spin-dot-item {
  background-color: var(--text-color)!important;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
section{
  width: min(50rem,100%);
}

section h1{
   text-align: center;
}