@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg-color:#222327;
  --main-color: #e95e0d;
  --main-color-dark: #a9450a;
}
body{
  margin: 0;
  background-color: var(--bg-color);
  color: whitesmoke;
  font-family: 'Geologica', sans-serif;
}
main .ant-spin-dot-item {
  background-color: var(--main-color)!important;
}

.ant-btn-primary {
  background-color: var(--main-color);
}
.ant-btn-primary:hover {
  background-color: var(--main-color-dark) !important;
}

main{
  padding: 2rem 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/paperplane.png");
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-position-x: -30%;
  height: 90vh;
}



main h1{
  margin-bottom: 0;
  font-size: 40px;
  text-align: center;
}

.headerContainer{
  margin-bottom: 2rem;
}

.ant-input-data-count{
  color: whitesmoke !important;
}